h1 {
    text-align: center;
    font-size: 300%;
    color: #4B8673;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #F6FBF4;
}

div {
    text-align: center;
    font-size:large ;
    color: white;
}
a {
    color: #4B8673;
}


img {
width: 20%;
display: block;
margin: auto;
}


a {
    text-align: center;
    font-size: 200%;
}